---
layout: default
heading: Gospel Desk
subheading: Building faith by deeply engaging with the Gospels
hero: <h2>Study. Believe.</h2>
  <p>
    Gospel Desk builds faith<br>
    by deeply engaging<br>
    with the Gospels.
  </p>
  <p><a href="/about/">About</a></p>
html_head:
  <meta property="og:site_name"   content="Gospel Desk"
  <meta property="og:url"         content="https://www.gospeldesk.org/">
  <meta property="og:image"       content="https://www.gospeldesk.org/assets/images/logo.256.png">
  <meta property="og:type"        content="website">
  <meta property="og:title"       content="Gospel Desk">
  <meta property="og:description" content="Building faith by deeply engaging with the Gospels">
---
<div class="projects">
    <a class="content card" href="/the-gospels">
        <div class="available-at amazon">
            <img src="/assets/images/available-at-amazon.png" title="Available at Amazon">
        </div>
        <header>
            <h3>The Gospels</h3>
            <h4>Reading, together</h4>
        </header>

        <div class="description">
            <p>Jesus of Nazareth: Was he God? A mystic? A figment of imagination?
            Read the Gospels and decide for yourself.</p>
            <span class="read-more">Read more &hellip;</span>
            <div class="clear"></div>
        </div>
        <img src="/assets/images/thumb.the-gospels.jpg" />
        <div class="clear"></div>
    </a>
    <a class="content card" href="/the-twelve-believers/">
        <header>
            <h3>The Twelve Believers</h3>
            <h4>Celebrating those Christ celebrates</h4>
        </header>

        <div class="description">
            <p>There are twelve people whom Christ praises for their faith,
            providing a picture of devotion for all Christians.</p>
            <span class="read-more">Read more &hellip;</span>
            <div class="clear"></div>
        </div>
        <img src="/assets/images/thumb.the-twelve-believers.jpg" />
        <div class="clear"></div>
    </a>
    <a class="content card" href="/a-narrative-apparatus/">
        <header>
            <h3>A Narrative Apparatus</h3>
            <h4>Cataloging characters, frames, and scenes</h4>
        </header>

        <div class="description">
            <p>An exhaustive database of the characters, frames, and scenes in the
            four Gospels will provide the foundation for a wealth of study.</p>
            <span class="read-more">Read more &hellip;</span>
            <div class="clear"></div>
        </div>
        <img src="/assets/images/thumb.a-narrative-apparatus.png" />
        <div class="clear"></div>
    </a>
</div>
<div class="content">
    <header>
        <h3>Updates</h3>
    </header>
    {% include updates.html n=2 %}
    <a href="/updates/" class="read-more">Browse all ...</a>
    <div class="clear"></div>
</div>
{% include subscribe.html suppress_link=true %}
