{% if page.show_follow_along %}
<section class="content follow-along">
    <header>
        <h3>Follow Along</h3>
    </header>
	  <iframe src="https://gospeldesk.substack.com/embed" width="100%" height="162"
      style="border: 1px solid #21201A; background:white; border-radius: 4px;" frameborder="0" scrolling="no"></iframe>
        <div class="powered-by">
          Occasional newsletter powered by <a href="https://gospeldesk.substack.com/">Substack</a>.
        </div>

    <div class="social">
        <a href="https://www.instagram.com/chad.whitacre/">
            <img src="/assets/images/social-icon-instagram.svg" alt="Instagram">
        </a>
        <a href="https://twitter.com/__chadwhitacre">
            <img src="/assets/images/social-icon-twitter.svg" alt="Twitter">
        </a>
    </div>
</section>
{% else %}{% endif %}

