{% if page.show_follow_along %}
<section class="content follow-along">
    <header>
        <h3>Follow Along</h3>
    </header>
		<form method="post" action="https://buttondown.email/api/emails/embed-subscribe/gospeldesk" target="_blank">
        <table>
            <tr>
                <td class="input">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" value="" placeholder="email@example.com">
                </td>
                <td class="button"><button class="button" type="submit">Subscribe</button></td>
            </tr>
        </table>
        <div class="powered-by">
            Occasional newsletter powered by
            <a href="https://buttondown.email">Buttondown</a>.
        </div>
    </form>

    <div class="social">
        <a href="https://www.instagram.com/chad.whitacre/">
            <img src="/assets/images/social-icon-instagram.svg" alt="Instagram">
        </a>
        <a href="https://twitter.com/__chadwhitacre">
            <img src="/assets/images/social-icon-twitter.svg" alt="Twitter">
        </a>
    </div>
</section>
{% else %}{% endif %}


