{% if page.show_follow_along %}
<section class="content follow-along">
    <header>
        <h3>Follow Along</h3>
    </header>
    <form method="post" action="https://www.getrevue.co/profile/gospeldesk/add_subscriber" target="_blank">
        <table>
            <tr>
                <td class="input">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="member[email]" value="" placeholder="email@example.com">
                </td>
                <td class="button"><button class="button" type="submit">Subscribe</button></td>
            </tr>
        </table>
        <div class="powered-by">
            Newsletter powered by
            <a href="https://www.getrevue.co/profile/gospeldesk">
                <img src="/assets/images/revue.svg" alt="Revue"></a>
        </div>
    </form>

    <div class="social">
        <a href="https://twitter.com/CWLWhitacre">
            <img src="/assets/images/social-icon-twitter.svg" alt="Twitter">
        </a>
        <a href="https://www.instagram.com/cwlwhitacre/">
            <img src="/assets/images/social-icon-instagram.svg" alt="Instagram">
        </a>
    </div>
</section>
{% else %}{% endif %}
