<meta property="og:site_name"   content="Gospel Desk">

<meta property="og:url"         content="{{ site.url }}{{ page.url }}">
<meta property="og:title"       content="{{ page.heading }}">
<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt }}{% else %}{{ page.subheading }}{% endif %}">

{{ assign section = page.url | remove_first: '/' | split: '/' | first }}

{% if page.image %}
<meta property="og:image"       content="{{ site.url }}{{ page.image }}">
<meta property="og:image:alt"   content="{{ page.image_alt }}">
{% elsif section == 'the-twelve-believers' %}
<meta property="og:image"       content="{{ site.url }}/the-twelve-believers/default.png">
<meta property="og:image:alt"   content="new icon forthcoming, if the Lord wills it">
{% else %}
<meta property="og:image"       content="{{ site.url }}/assets/images/logo.256.png">
<meta property="og:image:alt"   content="the Gospel Desk logo">
{% endif %}

{% if page.isbn %}
<meta property="og:type"        content="book">
<meta property="og:book:isbn"   content="{{ page.isbn }}">
<meta property="og:book:release_date" content="{{ page.date }}">
{% elsif page.layout == 'post' %}
<meta property="og:type"        content="article">
<meta property="og:article:published_time" content="{{ page.date }}">
{% else %}
<meta property="og:type"        content="website">
{% endif %}
