@mixin roomy_styles {

  body {
    font: normal 12pt/18pt $Sen;
  }

  body.inside-page {
    .top {
      img {
        max-width: 160px;
      }
      padding: 6vh 0 12vh;
    }
  }

  .hero {
    h2 {
      font: bold 36pt/48pt $Sen;
    }
    p {
      padding: 12pt 0 6pt;
      font: normal 14pt/28pt $Sen;
    }
  }

  strong {
    padding: 2pt 0;
  }

  .content {
    box-shadow: $black 0px 2pt 6pt;
    padding: 24pt 36pt;
    margin: 36pt auto;

    &.single {
      padding: 36pt 36pt 48pt;
    }

    header {
      padding-left: 6pt;
      margin-left: -9pt;
    }

    h3 {
      font: bold 24pt/32pt $Sen;
      margin-bottom: 6pt;
    }
    h4 {
      font: normal 14pt/18pt $Sen;
      border-left: 2pt solid $pink;
      margin: 36pt 0 12pt -9pt;
      padding: 2pt 0 2pt 6pt;
    }

    p {
      text-indent: 24pt;
    }

    blockquote {
      margin: 12pt 0 12pt 24pt;
      &.praise {
        margin: 0 0 6pt;
        text-indent: -0.5em;
        padding: 12pt 0;
        cite {
          float: right;
          font: normal 10pt/18pt $Sen;
          padding: 0 0 0 18pt;
        }
      }
    }

    img {
      &.half {
        width: 47.5%;
        margin: 0 5% 0 0;
        float: left;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
    .caption {
      font: normal 11pt/16pt $Sen;
    }

    ol {
      margin: 18pt 0 18pt 24pt;
      li {
        margin-bottom: 6pt;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
    &.follow-along {
      form {
        .powered-by {
          img {
            height: 14pt;
          }
        }
      }
    }

    .amazon.available-at {
      top: 64pt;
      right: 36pt;
      width: 12%;
    }
    &.card .amazon.available-at {
      top: 24pt;
      right: 36pt;
      width: 24%;
    }
  }

  .card {
    padding: 24pt 0 0;
    header {
      margin: 0 0 12pt 27pt;
    }
    .description {
      float: left;
      width: 40%;
      padding: 0 0 0 36pt;

      position: static;
      .note {
        left: 36pt;
      }
    }
    img {
      width: 50%;
      max-width: 320px;
      float: right;
    }
  }

  footer {
    padding: 24pt;
    li {
      display: inline-block;
      font: normal 10pt/14pt $Sen;
      &::after { content: " ❧ "; }
    }
  }

  .clear {
    clear: both;
    height: 0pt;
  }

}
